@import 'var';
@import 'mixins';
@import './components/header.scss';
@import './components/search.scss';
@import './components/recipe.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway');
Body{
    font-family: 'Abril Fatface', cursive;
}

#header-container{
    height:50px;
    width:100vw;
    display:flex;
    }
#search-container{
width:100vw;
height: 50vh;
display:flex;
background-color: #24b598;
animation: bg-color 20s infinite;
-webkit-animation: bg-color 20s infinite;
text-align: center;
justify-content: center;
align-items: center;
flex-direction: column;

}
#recipe-list-container{
    margin-top: 20px;
display: flex;
flex-wrap: wrap;
}

@-webkit-keyframes bg-color {
	0% { background-color: #24b598; }
	25% { background-color: #ada2ef; }
	50% { background-color: #3d91e5; }
	75% { background-color: #915bc1; }
	100% { background-color: #24b598; }
  }
  @keyframes bg-color {
	0% { background-color: #24b598; }
	25% { background-color: #ada2ef; }
	50% { background-color: #3d91e5; }
	75% { background-color: #915bc1; }
	100% { background-color: #24b598; }
  }