#header-title{
    width:65%;
    padding-left:3vw;
align-items: center;
font-weight: bold;
text-decoration: none;
font-size:2em;
color: salmon;


}

#header-btn-container{
width: 35%;
display: flex;

justify-content: flex-end;
align-items: center;
padding-right:3vw;
}
.header-btn{
    color:coral;
    border-radius: 3px;
    background: transparent;
    border: 2px lightcoral solid;
    margin:0 1px;
    cursor: pointer;
    &:focus{
        outline:none;
    }
    &:hover{
    }
}
#login-btn{
}
#register-btn{
    
}