//recipe list contaienr
.recipe-container{
    width: 30%;
    margin:1%;
    justify-content: center;
    text-align: center;

}
.recipe-img {
    border-radius: 3px;
    }
    .recipe-ele{
        margin: 0;
    }
    .recipe-label {
    
    }
    .recipe-by {
    
    }
    .recipe-link {
    
    }
    .recipe-health {
    
    }
    .recipe-calories {
    
    }